.modal-window {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba($color: #929292CC, $alpha: 0.8);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: var(--pl-transition);
    z-index: 1000000;
    @include flex_row;
    align-items: center;
    justify-content: center;

    &__close {
        width: 6rem;
        height: 6rem;
        padding-left: 3rem;
        padding-bottom: 3rem;
        @include flex_row;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 0;
        right: 0;

        svg {
            width: 1.2rem;
            height: 1.2rem;
        }
    }

    &._visible {
        opacity: 1;
        visibility: visible;
        pointer-events: all;

        .modal-window__content {
            transform: translate(0, 0) scale(1);
            opacity: 1;
            visibility: visible;
            pointer-events: all;
        }
    }

    &__content {
        max-width: 100%;
        background-color: var(--pl-primary-white-color);
        @include flex_col;
        align-items: center;
        padding: 2rem;
        transition: var(--pl-transition);
    }
}

.qr-code-popup {
    text-align: center;
    padding: 5.3rem 3.5rem;
    width: 100%;
    height: calc(100vh - 10rem);
    margin-top: auto;
    transform: translate(0, 20rem);

    &__title {
        font-size: 1.8rem;
        font-weight: 500;
        line-height: 1.2;
        margin-bottom: 1rem;
    }
    &__subtitle {
        font-size: 1.3rem;
        color: var(--pl-grey-text-color);
        margin: 0 auto 0.7rem;
        max-width: 26.6rem;
    }
    &__code {
        width: 24.8rem;
        height: 24.8rem;
        @include flex_row;
        justify-content: center;
        align-items: center;
        margin-bottom: 0.7rem;

        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }
    &__link {
        font-weight: 500;
        text-align: center;
        font-size: 1.6rem;
        color: var(--pl-primary-blue-color);
        margin-bottom: 4.5rem;
        max-width: 100%;
        text-overflow: ellipsis;
        overflow: hidden;
    }
    &__btns {
        @include flex_row;
        align-items: center;
    }
    &__deletebtn {
        width: 3.4rem;
        height: 3.4rem;
        flex: 0 0 3.4rem;
        border-radius: 50%;
        background-color: var(--pl-primary-popup-background);
        background-image: url('../../assets/img/icons/actions/delete.svg');
        background-repeat: no-repeat;
        background-size: 1.7rem;
        background-position: center;
    }
    &__copybtn {
        border-radius: 5.4rem;
        padding: 0 2rem 0 3.7rem;
        background-color: var(--pl-primary-popup-background);
        line-height:3.4rem;
        font-size: 1.4rem;
        margin: 0 1rem;
        background-image: url('../../assets/img/icons/actions/copy.svg');
        background-repeat: no-repeat;
        background-size: 1.7rem;
        background-position: 1rem center;
    }
    &__sendbtn {
        width: 3.4rem;
        height: 3.4rem;
        flex: 0 0 3.4rem;
        border-radius: 50%;
        background-color: var(--pl-primary-popup-background);
        background-image: url('../../assets/img/icons/actions/upload.svg');
        background-repeat: no-repeat;
        background-size: 1.7rem;
        background-position: center;
    }

    &__company {
        width: 7.8rem;
        height: 7.8rem;
        border-radius: 50%;
        @include flex_row;
        justify-content: center;
        align-items: center;
        border: 0.1rem solid var(--pl-primary-black-color);
        margin-bottom: 1.8rem;
        overflow: hidden;

        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }
}

.gifts-popup {
    font-size: 1.8rem;
    font-weight: 500;
    max-width: 25.3rem;
    width: 100%;
    border-radius: 1rem;
    padding: 2.5rem 2.5rem 1.3rem;
    box-shadow: 0.2rem 0.2rem 0.4rem 0px #43424240;
    
    &__title {
        margin-bottom: 1.6rem;
    }

    &__list {
        @include flex_row;
        justify-content: space-between;
        flex-wrap: wrap;
        width: 100%;
    }

    &__item {
        flex: 0 0 5.9rem;
        height: 5.9rem;
        @include flex_row;
        align-items: center;
        justify-content: center;
        line-height: 1;
        background-color: var(--pl-primary-popup-background);
        border-radius: 0.5rem;
        font-size: 2.4rem;
        font-weight: 400;
        margin-bottom: 1.2rem;
        border: 0.1rem  solid #E1E1E1;
        color: var(--pl-primary-blue-color);

        &._other {
            font-size: 1.2rem;
        }
    }
}

.make-review-popup {
    width: calc(100% - 2.6rem);
    border-radius: 0.5rem;
    padding: 1.4rem 0;

    &__stars {
        margin-bottom: 1.4rem;
        .pl-star-rate {
            &__star {
                margin-right: 1.4rem;

                &:last-child {
                    margin-right: 0;
                }
            }
        }
    }
    &__title {
        @include flex_row;
        align-items: center;
        justify-content: space-between;
        height: 3.5rem;
        background-color: var(--pl-primary-popup-background);
        margin-bottom: 0.8rem;
        width: 100%;
        padding: 0 1.1rem;

        span {
            font-weight: 500;
        }

        img {
            width: 2.5rem;
            height: 2.5rem;
            flex: 0 0 2.5rem;
            border-radius: 50%;
            object-fit: cover;
        }
    }
    &__input {
        padding: 0 1.1rem;
        margin-bottom: 1.6rem;
        width: 100%;

        textarea {
            width: 100%;
            font-size: 1.3rem;
            height: 8.3rem;
            min-height: 8.3rem;
        }
    }
    &__btn {
        border-radius: 5.4rem;
        background-color: var(--pl-primary-black-color);
        line-height: 2.8rem;
        min-width: 9.6rem;
        padding: 0 1rem;
        @include flex_row;
        align-items: center;
        justify-content: center;
        color: var(--pl-primary-white-color);
        font-size: 1.2rem;
    }
}

.reviews-popup {
    width: calc(100% - 2.6rem);
    border-radius: 0.5rem;
    padding: 2.9rem 0.7rem;

    &__review {
        margin-bottom: 1.2rem;
        
        .review-message_short {
            margin-right: 0;
        }

        &:last-child {
            margin-bottom: 0;
        }
    }
}

.promo-actions-modal {
    margin-top: auto;
    border-radius: 1rem;
    width: calc(100% - 3rem);
    margin-bottom: 2rem;
    padding: 0;

    transform: translate(0, 4rem);

    & > div {
        margin-bottom: 1rem;
    }

    ul {
        width: 100%;
        li {
            width: 100%;
            font-size: 1.4rem;
            font-weight: 400;
            padding: 1.5rem 1.7rem;
            border-bottom: 0.1rem solid var(--pl-primary-light-border-color);


            &:last-child {
                border-bottom: none;
            }
            
            & > div {
                @include flex_row;
                align-items: center;

                svg {
                    width: 1.5rem;
                    margin-right: 0.8rem;
                }
            }
        }
    }
}

.publicate-modal {
    border-radius: 1rem;
    border: 0.1rem solid #e1e1e1;
    box-shadow: 0.2rem 0.2rem 0.4rem 0px #43424240;

    &__img {
        margin-bottom: 1.7rem;
        @include flex_row;
        align-items: center;
        justify-content: center;
        margin: 0 auto 1.7rem;

        img {
            width: 7.4rem;
            height: 7.4rem;
            object-fit: contain;
        }
    }

    &__title {
        font-size: 1.7rem;
        font-weight: 700;
        margin-bottom: 2rem;
        text-align: center;
    }

    &__btn {
        @include flex_row;
        align-items: center;
        line-height: 3.5rem;
        font-size: 1.4rem;
        color: var(--pl-primary-white-color);
        background-color: var(--pl-primary-black-color);
        padding: 0 1.3rem;
        border-radius: 5.4rem;

        svg {
            margin-right: 1rem;
        }
    }
}

.create-nav {
    margin-bottom: 2.3rem;
    @include flex_row;
    align-items: center;

    &__item {
        margin-right: 0.6rem;
        border-radius: 3.6rem;
        padding: 0 1.2rem 0 0.7rem;
        @include flex_row;
        align-items: center;
        font-size: 1.2rem;
        line-height: 2.2rem;
        background-color: var(--pl-primary-background-color);

        svg {
            margin-right: 0.5rem;
            path {
                fill: var(--pl-primary-black-color);
            }
        }

        &:nth-child(2) {
            svg {
                path {
                    stroke: var(--pl-primary-black-color);
                    fill: unset;
                }
            }
            &._active {
                svg {
                    path {
                        fill: unset;
                        stroke: var(--pl-primary-white-color);
                    }
                }
            }
        }

        &._active {
            background-color: var(--pl-primary-black-color);
            color: var(--pl-primary-white-color);
            svg {
                path {
                    fill: var(--pl-primary-white-color);
                }
            }
        }
    }

    &_1 {
        & > div {
            &:nth-child(1) {
                background-color: var(--pl-primary-green-color);
            }
        }
    }
    &_2 {
        & > div {
            &:nth-child(1),
            &:nth-child(2) {
                background-color: var(--pl-primary-green-color);
            }
        }
    }
}