.modal-window {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba($color: #929292CC, $alpha: 0.8);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: var(--pl-transition);
    z-index: 1000000;
    @include flex_row;
    align-items: center;
    justify-content: center;

    &__close {
        width: 6rem;
        height: 6rem;
        padding-left: 3rem;
        padding-bottom: 3rem;
        @include flex_row;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 0;
        right: 0;

        svg {
            width: 1.2rem;
            height: 1.2rem;
        }
    }

    &._visible {
        opacity: 1;
        visibility: visible;
        pointer-events: all;

        .modal-window__content {
            transform: translate(0, 0) scale(1);
            opacity: 1;
            visibility: visible;
            pointer-events: all;
        }
    }

    &__content {
        max-width: 100%;
        background-color: var(--pl-primary-white-color);
        @include flex_col;
        align-items: center;
        padding: 2rem;
        transition: var(--pl-transition);
    }
}

.qr-code-popup {
    text-align: center;
    padding: 5.3rem 2.5rem;
    width: 100%;
    height: calc(100vh - 10rem);
    margin-top: auto;
    transform: translate(0, 20rem);

    &__title {
        font-size: 1.8rem;
        font-weight: 500;
        line-height: 1.2;
        margin-bottom: 1rem;
    }
    &__subtitle {
        font-size: 1.3rem;
        color: var(--pl-grey-text-color);
        margin: 0 auto 0.7rem;
        max-width: 41rem;
    }
    &__code {
        width: 24.8rem;
        height: 24.8rem;
        @include flex_row;
        justify-content: center;
        align-items: center;
        margin-bottom: 0.7rem;

        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }
    &__link {
        font-weight: 500;
        text-align: center;
        font-size: 1.6rem;
        color: var(--pl-primary-blue-color);
        margin-bottom: 4.5rem;
        max-width: 100%;
        text-overflow: ellipsis;
        overflow: hidden;
    }
    &__btns {
        @include flex_row;
        align-items: center;
    }
    &__deletebtn {
        width: 3.4rem;
        height: 3.4rem;
        flex: 0 0 3.4rem;
        border-radius: 50%;
        background-color: var(--pl-primary-popup-background);
        background-image: url('../../assets/img/icons/actions/delete.svg');
        background-repeat: no-repeat;
        background-size: 1.7rem;
        background-position: center;
    }
    &__copybtn {
        border-radius: 5.4rem;
        padding: 0 2rem 0 3.7rem;
        background-color: var(--pl-primary-popup-background);
        line-height:3.4rem;
        font-size: 1.4rem;
        margin: 0 1rem;
        background-image: url('../../assets/img/icons/actions/copy.svg');
        background-repeat: no-repeat;
        background-size: 1.7rem;
        background-position: 1rem center;
    }
    &__sendbtn {
        width: 3.4rem;
        height: 3.4rem;
        flex: 0 0 3.4rem;
        border-radius: 50%;
        background-color: var(--pl-primary-popup-background);
        background-image: url('../../assets/img/icons/actions/upload.svg');
        background-repeat: no-repeat;
        background-size: 1.7rem;
        background-position: center;
    }

    &__company {
        width: 7.8rem;
        height: 7.8rem;
        border-radius: 50%;
        @include flex_row;
        justify-content: center;
        align-items: center;
        border: 0.1rem solid var(--pl-primary-black-color);
        margin-bottom: 1.8rem;
        overflow: hidden;

        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }
}

.gifts-popup {
    font-size: 1.8rem;
    font-weight: 500;
    max-width: 25.3rem;
    width: 100%;
    border-radius: 1rem;
    padding: 2.5rem 2.5rem 1.3rem;
    box-shadow: 0.2rem 0.2rem 0.4rem 0px #43424240;
    
    &__title {
        margin-bottom: 1.6rem;
    }

    &__list {
        @include flex_row;
        justify-content: space-between;
        flex-wrap: wrap;
        width: 100%;
    }

    &__item {
        flex: 0 0 5.9rem;
        height: 5.9rem;
        @include flex_row;
        align-items: center;
        justify-content: center;
        line-height: 1;
        background-color: var(--pl-primary-popup-background);
        border-radius: 0.5rem;
        font-size: 2.4rem;
        font-weight: 400;
        margin-bottom: 1.2rem;
        border: 0.1rem  solid #E1E1E1;
        color: var(--pl-primary-blue-color);

        &._other {
            font-size: 1.2rem;
        }
    }
}

.make-review-popup {
    width: calc(100% - 2.6rem);
    border-radius: 0.5rem;
    padding: 1.4rem 0;
    margin: 7rem auto auto;

    &__stars {
        margin-bottom: 1.4rem;
        .pl-star-rate {
            &__star {
                margin-right: 1.4rem;

                &:last-child {
                    margin-right: 0;
                }
            }
        }
    }
    &__title {
        @include flex_row;
        align-items: center;
        justify-content: space-between;
        height: 3.5rem;
        background-color: var(--pl-primary-popup-background);
        margin-bottom: 0.8rem;
        width: 100%;
        padding: 0 1.1rem;

        span {
            font-weight: 500;
        }

        img {
            width: 2.5rem;
            height: 2.5rem;
            flex: 0 0 2.5rem;
            border-radius: 50%;
            object-fit: cover;
        }
    }
    &__input {
        padding: 0 1.1rem;
        margin-bottom: 1.6rem;
        width: 100%;

        textarea {
            width: 100%;
            font-size: 1.6rem;
            height: 8.3rem;
            min-height: 8.3rem;
        }
    }
    &__btn {
        border-radius: 5.4rem;
        background-color: var(--pl-primary-black-color);
        line-height: 2.8rem;
        min-width: 9.6rem;
        padding: 0 1rem;
        @include flex_row;
        align-items: center;
        justify-content: center;
        color: var(--pl-primary-white-color);
        font-size: 1.2rem;
    }
}


.reviews-popup {
    width: calc(100% - 2.6rem);
    border-radius: 0.5rem;
    padding: 2.9rem 0.7rem;

    &__review {
        margin-bottom: 1.2rem;
        
        .review-message_short {
            margin-right: 0;
        }

        &:last-child {
            margin-bottom: 0;
        }
    }
}

.promo-actions-modal,
.reset-filter-modal {
    margin-top: auto;
    border-radius: 1rem;
    width: calc(100% - 3rem);
    margin-bottom: 2rem;
    padding: 0;

    transform: translate(0, 4rem);

    & > div {
        margin-bottom: 1rem;
    }

    ul {
        width: 100%;
        li {
            width: 100%;
            font-size: 1.4rem;
            font-weight: 400;
            padding: 1.5rem 1.7rem;
            border-bottom: 0.1rem solid var(--pl-primary-light-border-color);


            &:last-child {
                border-bottom: none;
            }
            
            & > div {
                @include flex_row;
                align-items: center;

                svg {
                    width: 1.5rem;
                    margin-right: 0.8rem;
                }
            }
        }
    }
}

.publicate-modal {
    border: 0.1rem solid #e1e1e1;
    box-shadow: 0.2rem 0.2rem 0.4rem 0px #43424240;
    text-align: center;
    padding: 4.3rem 2.5rem;
    width: 100%;
    height: auto;
    min-height: calc(100vh - 20rem);
    margin-top: auto;
    transform: translate(0, 20rem);

    &__img {
        @include flex_row;
        align-items: center;
        justify-content: center;
        margin: 0 auto 3.7rem;

        img {
            width: 7.4rem;
            height: 7.4rem;
            object-fit: contain;
        }
    }

    &__title {
        font-size: 1.8rem;
        font-weight: 700;
        margin-bottom: 2rem;
        text-align: center;

        span {
            display: block;
        }
    }

    &__subtitle {
        font-size: 1.5rem;
        font-weight: 400;
        max-width: 30rem;
        margin: 0 auto 3rem;
    }

    &__btn {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.6rem;
        font-weight: 500;
        line-height: 4.3rem;
        padding: 0 5rem;
        width: 100%;
        max-width: 26rem;
        border-radius: 5.4rem;
        background-color: transparent;
        position: relative;
        color: var(--pl-primary-black-color);
        background-color: var(--pl-primary-popup-background);
        margin-bottom: 3.5rem;

        svg {
            margin-right: 1rem;
            margin-left: auto;
            position: absolute;
            top: 50%;
            left: 1.9rem;
            width: 1.4rem;
            height: 1.4rem;
            object-fit: contain;
            transform: translate(0, -50%);
        }
    }

    &__new {
        display: flex;
        justify-content: center;
        font-size: 1.6rem;
        font-weight: 500;
        color: var(--pl-primary-text-color);
        line-height: 4.3rem;
        padding: 0 5rem;
        width: 100%;
        max-width: 26rem;
        border-radius: 5.4rem;
        background-color: transparent;
        border: 0.3rem solid var(--pl-primary-red-color);
        position: relative;

        svg {
            display: block;
            position: absolute;
            top: 50%;
            right: 1.9rem;
            width: 1.7rem;
            height: 1.7rem;
            object-fit: contain;
            transform: translate(0, -50%);
        }
    }
}

.create-nav {
    margin-bottom: 2.3rem;
    @include flex_row;
    align-items: center;
    position: fixed;
    top: 5rem;
    z-index: 10;
    padding-bottom: 0.6rem;
    background: var(--pl-primary-background-color);

    &__item {
        margin-right: 0.6rem;
        border-radius: 3.6rem;
        padding: 0 1.2rem 0 0.7rem;
        @include flex_row;
        align-items: center;
        font-size: 1.2rem;
        line-height: 2.2rem;
        background-color: var(--pl-primary-background-color);
        font-size: 1.4rem;
        line-height: 2.5rem;
        white-space: nowrap;
        color: var(--pl-primary-text-color);
        padding: 0 0.9rem;
        background-color: var(--pl-primary-tag-color);
        border-radius: 3.6rem;

        svg {
            margin-right: 0.5rem;
            path {
                fill: var(--pl-primary-black-color);
            }
        }

        &:nth-child(2) {
            svg {
                path {
                    stroke: var(--pl-primary-black-color);
                    fill: unset;
                }
            }
            &._active {
                svg {
                    path {
                        fill: unset;
                        stroke: var(--pl-primary-white-color);
                    }
                }
            }
        }
        &._filled {
            background-color: var(--pl-primary-green-color);
        }

        &._active {
            background-color: var(--pl-primary-black-color);
            color: var(--pl-primary-white-color);
            svg {
                path {
                    fill: var(--pl-primary-white-color);
                }
            }
        }

    }

    // &_1 {
    //     & > div {
    //         &:nth-child(1) {
    //             background-color: var(--pl-primary-green-color);
    //         }
    //     }
    // }
    // &_2 {
    //     & > div {
    //         &:nth-child(1),
    //         &:nth-child(2) {
    //             background-color: var(--pl-primary-green-color);
    //         }
    //     }
    // }
}

.reset-filter-modal {
    padding-top: 3rem;
    margin: auto;

    &__title {
        font-weight: 500;
    }

    ul {
        margin-top: 2rem;
        .pl-input-checkbox {
            &:first-child {
                border-top: 0.1rem solid var(--pl-primary-light-border-color);
            }
        }
    }

    &__btn {
        @include flex_row;
        text-align: center;
        justify-content: center;
        line-height: 3.5rem;
        padding: 0 1rem;
        width: 15.8rem;
        background-color: $red_c;
        color: $white_c;
        border-radius: 5.5rem;
        font-size: 1.4rem;
        margin-top: 3rem;

        &._disabled {
            opacity: 0.3;
            pointer-events: none;
        }
    }
}

.cash-modal {
    &__row {
        @include flex_row;
        justify-content: space-between;
        flex-wrap: wrap;
        width: calc(5.8rem * 3 + 3rem);
        margin-bottom: 7rem;
    }

    &__item {
        flex: 0 0 5.8rem;
        width: 5.8rem;
        height: 5.8rem;
        margin-bottom: 1.5rem;
        border-radius: 1rem;
        background-color: var(--pl-primary-popup-background);
        @include flex_row;
        align-items: center;
        justify-content: center;
        color: var(--pl-primary-blue-color);
        font-size: 2rem;
        font-weight: 400;
        border: 0.1rem solid #BCBCBC;

        &._active {
            background-color: #DFDFDF;
        }
    }

    &__btn {
        font-size: 1.6rem;
        font-weight: 500;
        color: var(--pl-primary-white-color);
        line-height: 4.7rem;
        width: 100%;
        @include flex_row;
        justify-content: space-around;
        max-width: 35rem;
        padding: 0 3rem;
        background-color: var(--pl-primary-blue-color);
        border-radius: 1.2rem;
        margin-top: auto;
        margin-bottom: 4rem;
        transition: var(--pl-transition);

        &._disabled {
            opacity: 0.3;
        }
    }
}