.pl-app-header__cash {
    position: absolute;
    top: 50%;
    right: 1.5rem;
    transform: translate(0, -50%);
    line-height: 2.8rem;
    border-radius: 5.4rem;
    background-color: var(--pl-primary-top-button-color);
    padding: 0 1rem;
    color: var(--pl-primary-black-color);
    cursor: pointer;
    font-size: 1.2rem;
}

.account-page {
    &__content {
        padding-top: 2rem;
    }
}

.pl-moderate-promo {
    margin-bottom: 2.5rem;

    &__share {
        position: absolute;
        flex: 0 0 2.6rem;
        width: 2.6rem;
        height: 2.6rem;
        border-radius: 50%;
        background-color: var(--pl-primary-background-color);
        display: flex;
        justify-content: center;
        align-items: center;
        top: 1.3rem;
        right: 1.4rem;
        z-index: 2;

        svg {
            width: 2.6rem;
            height: 2.6rem;
        }
    }

    &_moderating,
    &_paused {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        text-align: center;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        color: var(--pl-primary-white-color);
        font-size: 2.4rem;
        font-weight: 700;
        background: rgba(37, 37, 37, 0.5);
        z-index: 2;

        & > span {
            background-color: #1D1D37;
            line-height: 2.3rem;
            font-size: 1.4rem;
            border-radius: 2.4rem;
            padding: 0 1rem;
            font-weight: 400;
            margin-top: 0.7rem;

            svg {
                margin-right: 0.5rem;
            }
        }
    }

    &__locationrow {
        @include flex_row;
        color: var(--pl-primary-blue-color);
        font-weight: 500;

        & > div {
            @include flex_row;
            font-size: 1.4rem;
            text-decoration: underline;
            
            &.pl-moderate-promo__delivery {
                margin-left: 4.3rem;
                svg {
                    transform: translate(0, 0.1rem);
                }
            }
        
        }

        svg {
            margin-right: 0.5rem;
        }
    }
    &__info {
        min-height: 3.5rem;

        .list-item {
            &__num {
                padding-left: 1.8rem;
                font-size: 1.4rem;
                font-weight: 500;
                color: var(--pl-primary-text-color);
                margin-right: 0.9rem;
                position: relative;
        
                &_views {
                    background-image: url('../../assets/img/icons/view_black.svg');
                    background-repeat: no-repeat;
                    background-size: 1.6rem 1.1rem;
                    background-position: left 0.2rem;
                }
        
                &_gifts {
                    background-image: url('../../assets/img/icons/gift-ico_black.svg');
                    background-repeat: no-repeat;
                    background-size: 1.3rem 1.3rem;
                    background-position: left 0.1rem;
                }
        
                &_wishes {
                    background-image: url('../../assets/img/icons/heart-red_nonwish.svg');
                    background-repeat: no-repeat;
                    background-size: 1.3rem 1.2rem;
                    background-position: left 0.2rem;
                    
                    &_full {
                        background-image: url('../../assets/img/icons/heart-red.svg');
                        background-repeat: no-repeat;
                        background-size: 1.3rem 1.2rem;
                        background-position: left 0.2rem;
                    }
                }
            }
        }
    }

    &__interact {
        padding-left: 1.8rem;
        font-size: 1.4rem;
        font-weight: 500;
        color: var(--pl-primary-text-color);
        margin-right: 0.9rem;
        position: relative;
        line-height: 2rem;
        
        &_1 {
            background-image: url('../../assets/img/icons/interact_1.svg');
            background-repeat: no-repeat;
            background-size: 1.2rem 1.2rem;
            background-position: left 0.3rem;
        }

        &_2 {
            background-image: url('../../assets/img/icons/interact_2.svg');
            background-repeat: no-repeat;
            background-size: 1.4rem 1.4rem;
            background-position: left 0.2rem;
        }

        &_3 {
            background-image: url('../../assets/img/icons/interact_3.svg');
            background-repeat: no-repeat;
            background-size: 1.4rem 1.4rem;
            background-position: left 0.2rem;
            color: var(--pl-primary-blue-color);
            text-decoration: underline;
        }

        &_4 {
            padding-left: 0;
            // transform: translate(0, -0.1rem);
            svg {
                margin-right: 0.3rem;
            }
        }
        &_5 {
            padding-left: 0;
            color: var(--pl-primary-blue-color);
            text-decoration: underline;
            // transform: translate(0, -0.1rem);
            svg {
                margin-right: 0.3rem;
            }
        }
    }

    &__actions {
        @include flex_row;
        justify-content: space-between;
        margin-top: 0.5rem;

        & > div {
            &.pl-moderate-promo__btn {
                flex: 0 0 calc((100% - 0.4rem * 3) / 4);
                background-color: var(--pl-primary-popup-background);
                white-space: nowrap;
                text-align: center;
                @include flex_col;
                align-items: center;
                font-size: 1rem;
                text-transform: uppercase;
                height: 4.8rem;
                justify-content: center;
                border-radius: 0.5rem;
                border: 0.1rem  solid #dbdbdb;

                svg {
                    margin-bottom: 0.5rem;
                    height: 1.5rem;
                }
            }
        }
    }
}

.nav-account {
    @include flex_row;
    position: fixed;
    top: 5rem;
    left: 0;
    width: 100%;
    padding: 0 1.7rem 0.5rem;
    overflow-x: auto;
    z-index: 10;
    background-color: var(--pl-primary-background-color);
    .pl-filter-tag_with_icon {
        border-radius: 0.7rem;

        & > img {
            width: 1.5rem;
            height: 1.5rem;
            display: inline-block;
            border-radius: 0;
            margin-right: 10px;
            margin-left: 1rem;
            margin-right: 0.5rem;
        }
    }

    &__settings {
        flex: 0 0 3.4rem;
        font-size: 1.4rem;
        white-space: nowrap;
        color: var(--pl-primary-text-color);
        padding: 0 0.9rem;
        background-color: var(--pl-primary-tag-color);
        border-radius: 0.7rem;
        margin-right: 0.6rem;
        max-width: min-content;
        transition: var(--pl-transition);
        display: flex;
        align-items: center;
        height: 2.5rem;

        & + .pl-filter-tag {
            background-color: #D3FBEC;
        }
    }
}

.promos-account {
    padding-top: 3rem;

    &__addpromo {
        height: 2.5rem;
        flex: 0 0 2.5rem;
        width: 2.5rem;
        border-radius: 50%;
        border: 0.1rem solid var(--pl-primary-red-color);
        @include flex_row;
        align-items: center;
        justify-content: center;
        margin-right: 0.6rem;
        svg {
            width: 1.2rem;
            height: 1.2rem;
        }
    }

    .pl-return-toppanel__search {
        @include flex_row;
        width: 4rem;
        height: 2rem;
        flex: 0 0 4rem;
        position: absolute;
        top: 50%;
        right: 1.7rem;
        transform: translate(0, -50%);
        background-image: url('../../assets/img/icons/search_icon.svg');
        background-repeat: no-repeat;
        background-size: 1.7rem 1.7rem;
        background-position: right center;
        cursor: pointer;
    }

    &__nav {
        @include flex_row;
        padding-bottom: 0.5rem;
        background-color: var(--pl-primary-background-color);
        position: sticky;
        top: 0;
        position: fixed;
        top: 8rem;
        left: 0;
        width: 100%;
        padding: 0 1.7rem 0.5rem;
        overflow-x: auto;
        z-index: 10;
        padding-top: 0.5rem;

        .pl-filter-tag {
            height: 2.5rem;
            line-height: 2.5rem;
            background-color: transparent;
            border: 0.1rem solid #e9e9e9;
            color: var(--pl-primary-text-color);

            &:not(.pl-filter-tag_with_counter) {
                &::after {
                    color: var(--pl-primary-red-color);
                }
            }

            &_active {
                background-color: var(--pl-primary-popup-background);
                color: var(--pl-primary-text-color);
            }

            &::after {
                content: attr(data-counter);
                width: 1.7rem;
                height: 1.7rem;
                display: flex;
                align-items: center;
                justify-content: center;
                position: static;
                transform: unset;
                margin-left: 0.2rem;
                font-size: inherit;
                line-height: inherit;
                color: inherit;
                background: none;
                border-radius: none;
                padding: 0;
                font-weight: 500;
            }
        }
    }
}

.account-promo-stats {

    .pl-moderate-promo__info .list-item__num_gifts  {
        background-position: left 0;
    }
    .pl-moderate-promo__info .list-item__num_wishes_full
    .pl-moderate-promo__interact_5 {
        top: -0.1rem;
    }
    &__total {
        @include flex_row;
        align-items: center;
        margin-bottom: 2rem;
        justify-content: center;
        margin-top: 1rem;

        & > div {
            @include flex_row;
            align-items: center;
            line-height: 2rem;
            font-size: 1.4rem;
            font-weight: 500;

            svg {
                height: 2rem;
                margin-right: 0.6rem;
            }
        }
    }

    &__stars {
        svg {
            transform: translate(0, -0.2rem);
        }
    }

    &__reviews {
        margin: 0 4rem;
        color: var(--pl-primary-blue-color);
        text-decoration: underline;
    }

    &__percent {
        
    }

    &__globalstat {
        ul {
            border-radius: 1rem;
            border: 0.1rem solid var(--pl-primary-light-border-color);
            margin: 0 1.7rem 2.2rem;
            overflow: hidden;

            li {
                line-height: 3.6rem;
                padding: 0 0.7rem;
                @include flex_row;
                align-items: center;
                background-color: var(--pl-primary-popup-background);
                font-size: 1.4rem;

                &:first-child {
                    font-weight: 700;
                    font-size: 1.6rem;
                    & > div {
                        font-size: 1.4rem;
                        & > svg {
                            height: 1.6rem;
                        }
                    }
                }

                & > div {
                    margin-left: auto;
                    @include flex_row;
                    align-items: center;
                    font-weight: 500;

                    & > span {
                        margin-left: 0.3rem;
                        color: #09AC2D;
                        &::before {
                            content: "+";
                        }
                    }
                }
                &:nth-child(2) {
                    & > div {
                        position: relative;

                        &::after {
                            content: "";
                            position: absolute;
                            bottom: 0;
                            border-bottom: 0.1rem solid var(--pl-primary-light-border-color);
                            left: 0;
                            width: 100%;
                        }
                    }
                }
                &:nth-child(2),
                &:nth-child(3) {
                    padding-right: 0;
                    font-weight: 500;
                    & > div {
                        flex: 0 0 6rem;
                        font-size: 1.6rem;
                        justify-content: flex-end;
                        text-align: end;
                        font-weight: 700;
                        padding-right: 0.7rem;
                        line-height: 3.6rem;
                        background-color: #65F5C1;
                    }
                }

                &:nth-child(8),
                &:nth-child(9),
                &:nth-child(10) {
                    & > div {
                        span {
                            color: #FF3526;
                        }
                    }
                }

                &:nth-child(10) {
                    & > div {
                        & > div {
                            flex: 0 0 2rem;
                            width: 1.3rem;
                            svg {
                                transform-origin: center;
                                transform: translate(0, -0.2rem) rotate(90deg);
                            }
                        }
                    }
                }
 

                svg {
                    width: 1.6rem;
                    margin-right: 0.5rem;
                }
                
                &:nth-child(2n) {
                    background-color: var(--pl-primary-background-color);
                }
            }
        }
    }
}

.item-promo-stats {
    padding: 1rem 1.7rem 0;
    border-bottom: 0.1rem solid var(--pl-primary-light-border-color);

    .pl-moderate-promo__interact {
        &_4,
        &_5 {
            transform: translate(0, -0.1rem);
        }
    }

    &._disabled  {
        filter: grayscale(1);
        opacity: 0.3;
    }

    .list-item__interacts > div:last-child {
        margin-right: 0;
    }

    &__topper {
        @include flex_row;
        align-items: center;
        justify-content: space-between;
    }
    &__city {
        line-height: 1.8rem;
        max-width: calc(100% - 4rem);
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        color: #B3B3B3;
        font-weight: 400;
        font-size: 1.2rem;
        
        & > span {
            font-size: 1.5rem;
            font-weight: 700;
            margin-right: 0.6rem;
            color: var(--pl-primary-text-color);
        }
    }
}

.stats-promo-group {
    &._visible {
        .stats-promo-group {
            &__list {
                display: block;
            }

            &__expandarrow { 
                top: 45%;
                transform: translate(0, -50%);
            }
        }
    }

    
    &__title {
        line-height: 3.6rem;
        height: 3.6rem;
        @include flex_row;
        justify-content: space-between;
        padding: 0 1.7rem;
        background-color: var(--pl-primary-popup-background);
        padding-right: 4rem;
        position: relative;
        border-bottom: 0.1rem solid #E1E1E1;
        position: sticky;
        top: 5rem;
        z-index: 10;
    }
    &__toggler {
        @include flex_row;
        align-items: center;
        flex: 1;
        justify-content: center;
        position: relative;

        & > span {
            @include flex_row;
            align-items: center;
            justify-content: center;
            font-weight: 500;
    
            & > img {
                display: block;
                margin-right: 0.6rem;
            }
        }
    }

    &__list {
        display: none;
    }

    &__sort {
        flex: 0 0 2.5rem;
        height: 100%;
        @include flex_row;
        align-items: center;
    }

    &__expandarrow {
        position: absolute;
        right: 1.7rem;
        top: 55%;
        transform: translate(0, -50%) scale(1, -1);
    }

    &__num {
        @include flex_row;
        align-items: center;
        justify-content: flex-end;
        font-size: 1.4rem;
        font-weight: 500;
        line-height: 3.6rem;
        position: absolute;
        top: 50%;
        right: 0;
        transform: translate(0, -50%);

        svg  {
            margin-right: 0.4rem;
            transform: translate(0, -0.1rem);
        }
    }
}

.promos-account {
    .pl-moderate-promo__info .list-item__num_views {
        padding-left: 2rem;
    }
    .pl-moderate-promo__interact_4 svg {
        margin-right: 0.5rem;
        height: 1.2rem;
        transform: translate(0, 0.1rem);
    }
}

.pl-app-header__title {
    &._account {
        height: 2rem;
        &::before {
            content: "";
            display: inline-block;
            width: 1.9rem;
            height: 1.9rem;
            margin-right: 0.5rem;
            background-image: url('../../assets/img/icons/account/nav/tgstar.svg');
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center;
            transform: translate(0, 0.1rem);
        }
    }
}