.pl-return-toppanel {
    @include flex_row;
    padding: 1.5rem 1.7rem;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 10;
    background-color: var(--pl-primary-background-color);
    height: 5rem;

    &__return {
        @include flex_row;
        align-items: center;
        width: 4rem;
        height: 4rem;
        margin-right: 0.4rem;
        position: absolute;
        top: 50%;
        left: 1.8rem;
        transform: translate(0, -50%);

        svg {
            width: 0.8rem;
            height: 1.6rem;
            object-fit: contain;
            transform: scale(-1, 1);
        }
    }

    &__title {
        line-height: 4rem;
        font-size: 2rem;
        font-weight: 700;
        text-align: center;
    }
}

.pl-rights {
    font-size: 1.4rem;
    color: $black_c;
    display: block;
    text-align: center;
    width: 100%;
    position: static;
    margin-top: 5rem;
    bottom: 13rem;
    left: 0;
    width: 100%;
}

.pl-page-container {
    flex: 1;
    overflow-x: hidden;
    padding: 6.5rem 1.8rem 8rem;
    // background-color: var(--pl-primary-background-color);
    width: 100%;
    max-width: 50rem;
    transition: $transition;
    position: relative;
    left: 0;

    &.pl-promo-page {
        padding-top: 4.5rem;
    }

    .pl-promolist-container {
        display: block;
    }

    &_hidden {
        // position: fixed;
        top: 0;
        left: -100%;
        width: 100%;
        height: 100vh;
        overflow: hidden;
        flex: 1;

        .pl-promolist-container {
            display: none;
        }
        & > .pl-promo-filters {
            // display: none;
            position: static;
        }
    }
}

.pl-info-group {
    margin-bottom: 2rem;

    &__title {
        font-size: 1.6rem;
        font-weight: 500;
        color: $black_c;
        margin-bottom: 1.2rem;
        padding: 0.8rem 0;
        background-color: #F3F3F3;
        position: relative;

        &::before {
            content: "";
            height: 100%;
            background-color: #F3F3F3;
            width: 3rem;
            position: absolute;
            top: 0;
            left: 0;
            transform: translate(-100%, 0);
            z-index: 1;
        }

        &::after {
            content: "";
            height: 100%;
            background-color: #F3F3F3;
            width: 3rem;
            position: absolute;
            top: 0;
            right: 0;
            transform: translate(100%, 0);
            z-index: 1;
        }

        &_arrow {
            cursor: pointer;
            width: 100%;
            display: flex;
            background-image: url('../../assets/img/icons/expand_right.svg');
            background-repeat: no-repeat;
            background-size: 0.7rem;
            background-position: right center;
        }
    }

    &__content {
        padding: 0.8rem 0;
        font-weight: 300;
    }
}

.pl-promo-page-contacts {
    .pl-info-group__content {
        font-weight: 400;
        line-height: 2;
    }
}

.pl-gallery-item {
    @include flex_row;
    max-width: 100%;
    border-radius: 1rem;
    overflow: hidden;
    height: 12rem;

    img {
        width: 100%;
        object-fit: cover;
    }
}


.pl-filter-tag {
    font-size: 1.4rem;
    line-height: 2.5rem;
    white-space: nowrap;
    color: var(--pl-primary-text-color);
    padding: 0 1.3rem;
    background-color: var(--pl-primary-tag-color);
    border-radius: 3.6rem;
    margin-right: 0.6rem;
    max-width: min-content;
    transition: $transition;
    @include flex_row;
    align-items: center;

    &_with_icon {
        padding-left: 0;
        height: 25px;
        white-space: nowrap;
        & > img {
            width: 25px;
            height: 25px;
            display: inline-block;
            border-radius: 50%;
            margin-right: 10px;
        }
    }

    &_with_counter {
        position: relative;
        &::after {
            content: attr(data-counter);
            position: absolute;
            top: 0;
            right: 0.8rem;
            font-size: 1.1rem;
            font-weight: 700;
            width: 1.7rem;
            height: 1.7rem;
            background-color: var(--pl-primary-red-color);
            border-radius: 50%;
            @include flex_row;
            align-items: center;
            justify-content: center;
            transform: translate(0, -50%);
            color: var(--pl-primary-white-color);
        }
    }
    
    &_custom {
        padding-left: 1.7rem;
        position: relative;

        &::before {
            content: "";
            position: absolute;
            left: 0.6rem;
            top: 50%;
            width: 0.6rem;
            height: 0.6rem;
            border-radius: 50%;
            background-color: $red_c;
            transform: translate(0, -50%);
        }
    }

    &_active {
        color: $white_c;
        background-color: $black_c;

        &.pl-filter-tag_custom {
            &::before {
                // background-color: $white_c;
            }
        }
    }

    &_green:not(.pl-filter-tag_active) {
        background-color: $green_c;
        color: $black_c;
    }
    
}

.pl-reset-filters {
    font-size: 1.4rem;
    font-weight: 400;
    color: $blue_c;
}

.pl-select__filters {
    .filters-pl-select__bottom {
        position: sticky;
        bottom: 0;
        margin: 0 auto;
        width: 100%;
        z-index: 10;
    }
}

.pl-star-rate {
    @include flex_row;
    align-items: center;
    margin: 0 1rem 0 auto;

    &_disabled {
        pointer-events: none;
    }

    &__star {
        margin-right: 1.3rem;
        svg {
            width: 2.4rem;
            height: 2.4rem;
        }
    }
}

.skeleton-ui {
    background-color: var(--pl-skeleton-color);
    border-radius: 5.4rem;
    height: 2.7rem;
}

.cropper-container {
    width: 100%;
    position: fixed;
    height: 100%;
    flex: 0 0 100%;
    top: 0;
    left: 0;
    z-index: 99999;
    background-color: rgba($color: #000000, $alpha: 0.2);
    backdrop-filter: blur(20px);
    @include flex_row;
    justify-content: center;
    align-items: flex-end;

    & > .pl-button {
        margin-bottom: 4rem;
        line-height: 4.3rem;
    }
}

.adress-creator {
    pointer-events: all;
    &__adressimg {
        width: 100%;
        height: 11.6rem;
        border: 0.1rem solid var(--pl-primary-light-border-color);
        border-radius: 0.5rem;
        overflow: hidden;

        iframe {
            width: 100%;
            height: 100%;
        }
    }

    &__cityfilter {
        width: 100%;
        line-height: 3.5rem;
        color: var(--pl-primary-text-color);
        overflow: hidden;
        padding-left: 1.6rem;
        padding-right: 1.6rem;
        background-color: var(--pl-primary-background-color);
        border-radius: 5rem;
        font-size: 1.6rem;
        padding-right: 2rem;
        background-image: url('../../assets/img/icons/expand_right.svg');
        background-repeat: no-repeat;
        background-size: 0.6rem 1.2rem;
        background-position: calc(100% - 1rem) center;
        border: 0.1rem solid var(--pl-primary-light-border-color);
        margin-bottom: 0.7rem;
    }

    &__more {
        line-height: 3.5rem;
        font-size: 1.4rem;
        padding: 0 1.5rem;
        background-color: var(--pl-primary-popup-background);
        width: fit-content;
        @include flex_row;
        justify-content: center;
        border-radius: 5.4rem;
        margin: 0.5rem auto 2rem;
    }
}

.actions-clicker {
    z-index: 10;
    &__holder {
        width: 100%;
        height: 100%;
        position: relative;
        z-index: 10;
    }

    &__btn {
        width: 100%;
        height: 100%;
        @include flex_col;
        justify-content: center;
        cursor: pointer;
        padding-left: 0.3rem;

        & > span,
        &::before,
        &::after {
            content: "";
            width: 0.4rem;
            height: 0.4rem;
            border-radius: 50%;
            background-color: var(--pl-primary-text-color);
        }

        & > span {
            margin: 0.5rem 0;
        }
    }

    &__list {
        @include flex_col;
        width: 20.9rem;
        opacity: 0;
        visibility: hidden;
        position: absolute;
        bottom: 0;
        right: 0;
        z-index: 10;
        transform: translate3d(100%, 50%, 0) scale(0);
        transition: $transition;
        box-shadow: 0.2rem 0.2rem 0.4rem 0 #43424240;
        border-radius: 0.5rem;
        transform-origin: left top;
        background-color: var(--pl-primary-background-color);
        border: 0.1rem solid var(--pl-primary-light-border-color);

        & > div {
            padding: 1rem;
            padding-right: 4.1rem;
            font-size: 1.5rem;
            min-height: 3.7rem;
            @include flex_row;
            align-items: center;
            line-height: 1.3;
            margin: 0;
            border-bottom: var(--pl-primary-light-border-color);
            background-color: var(--pl-primary-background-color);
            position: relative;
            cursor: pointer;

            &:active {
                opacity: 0.5;
            }
            
            &:last-child {
                border-bottom: none;
            }

            & > img,
            & > svg {
                position: absolute;
                top: 50%;
                right: 1rem;
                transform: translate(0, -50%);
                width: 1.5rem;
                height: 1.5rem;
                object-fit: contain;
            }
        }
    }

    &._opened {
        .actions-clicker {
            &__list {
                opacity: 1;
                visibility: visible;
                transform: translate3d(100%, 60%, 0) scale(1);
            }
        }
    }
}

.no-scroll-visual::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 0;
    height: 0;
}

.debug_panel {
    width: 100%;
    max-height: 50rem;
    overlay: auto;
    background-color: var(--pl-primary-popup-background);
    color: var(--pl-primary-text-color);
}