.pl-page-create-partner,
.pl-page-create-promo {
    .pl-info-group {
        padding-bottom: 0 !important;
        margin-bottom: 0;

        .adress-item {
            padding-bottom: 0;
        }
    }
}
.pl-page-create-promo {
    padding-top: 10rem;
}
.pl-page-create-partner {
    background-color: var(--pl-primary-background-color);
    padding-bottom: 13rem;
    padding-top: 8rem;

    &__inputs {
        .input-container__inner {
    
            input {
                color: var(--pl-primary-blue-color);
            }
        }
    }

    &__contactsfield {
        .pl-info-group__content {
            padding-top: 0;
            padding-bottom: 1.8rem;
        }
    }

    &__title {
        font-size: 1.6rem;
        margin-bottom: 1rem;
        font-weight: 500;
    }

    .pl-info-group__title {
        margin-bottom: 2.5rem;
    }

    &__bio {
        margin-bottom: 2.5rem;
        
        .input-container__inner {
            textarea {
                min-height: unset;
                height: 7rem;
            }
        }
    }

    .filters-pl-select__bottom {
        position: fixed;
        bottom: 0;
        width: 100%;
        left: 50%;
        transform: translate(-50%, 0);
        .pl-button {
        }
    }

    &__upload_logo {
        padding: 2.1rem 0 2.5rem;
        @include flex_col;
        align-items: center;
        justify-content: center;
    }

    &__previewlogo {
        width: 7.8rem;
        height: 7.8rem;
        border-radius: 50%;
        background-color: var(--pl-primary-popup-background);
        border: 0.1rem solid var(--pl-primary-text-color);
        margin-bottom: 1.5rem;
        @include flex_row;
        align-items: center;
        justify-content: center;
        overflow: hidden;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;

            &.no-img-ico {
                width: 3.4rem;
                height: 2.7rem;
            }
        }
    }

    &__medialoader {
        &.pl-media-loader {
            span {
                font-size: 1.4rem;
                color: $blue_c;
                text-align: center;
            }
        }
    }
}

.pl-page-create-promo {
    background-color: var(--pl-primary-background-color);
    // padding-bottom: 20rem;

    & > .pl-bottom-button-container {
        @include flex_row;
        align-items: center;
        justify-content: center;
        position: fixed;
        padding-bottom: 4rem;
        bottom: 0;
        left: 50%;
        transform: translate(-50%, 0);
        width: 100%;
        z-index: 2;
        background-color: var(--pl-primary-popup-background);
        padding-top: 2rem;
    }

    .input-container,
    .firststep-create-promo__city {
        margin-bottom: 1.2rem;

        .adress-search {
            padding-left: 0 !important;
            padding-right: 0 !important;
        }
        .adress-item  {
            // padding-bottom: 0;

            & > .adress-item__adress {
                font-size: 1.6rem;
                line-height: 1.2;
                height: unset;
                display: block;
                padding-left: 0;
                background: none;
                font-weight: 500;
                color: #5f5d5d;

                &::before {
                    content: "";
                    display: inline-block;
                    margin-right: 0.5rem;
                    width: 1.1rem;
                    height: 1.4rem;
                    background-image: url('../../assets/img/icons/location_red.svg');
                    background-size: contain;
                    background-repeat: no-repeat;
                    background-position: left 0rem;
                }

                & > span {
                    font-weight: 400;
                    color: #5f5d5d;
                    display: block;
                    padding-left: 1.5rem;
                }
            }
        }

        .filters-pl-select__search {
            margin: 0 1.7rem;
            flex: 0 0 4rem;
        }
    }

    .pl-promo {
        .list-item {
            &__likes {
                pointer-events: none;
            }
        }
    }
    div.list-item__morebtn {
        @include flex_row;
        text-align: center;
        justify-content: center;
        line-height: 3.5rem;
        padding: 0 1rem;
        width: 15.8rem;
        background-color: $black_c;
        color: $white_c;
        margin-left: 1rem;
        border-radius: 5.5rem;
        font-size: 1.4rem;
    }

    &__preview {
        margin-top: 2rem;
        background-color: var(--pl-primary-background-color);
        position: relative;

        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 2rem;
            height: 100%;
            background-color: var(--pl-primary-background-color);
            transform: translate(-100%, 0);
        }
        &::after {
            content: "";
            position: absolute;
            top: 0;
            right: 0;
            width: 2rem;
            height: 100%;
            background-color: var(--pl-primary-background-color);
            transform: translate(100%, 0);
        }

        & > .pl-info-group__title {
            background-color: var(--pl-skeleton-color);
            &::before, &::after {
                background-color: var(--pl-skeleton-color);
            }
        }
    }
    
    .pl-promo-page-contacts, .pl-info-group {
        margin-top: 1.5rem;
    }

    .pl-info-group__title {
        pointer-events: none;
    }
}

.steps-pl-page-create-promo {
    @include flex_row;
    position: relative;
    width: 100%;
    margin-bottom: 4rem;

    &__progress {
        position: absolute;
        top: 1.1rem;
        width: calc(100%);
        left: 50%;
        transform: translate(-50%, 0);
        height: 0.2rem;
        background-color: var(--pl-primary-popup-background);

        &::after {
            content: "";
            position: absolute;
            height: 100%;
            left: 0;
            top: 0;
            width: 0;
            background-color: $red_c;
            transition: var(--pl-transition);
            transform: translate3d(0,0,0);
        }

        &_1 {
            &::after {
                width: 20%;
            }
        }

        &_2 {
            &::after {
                width: 60%;
            }
        }

        &_3 {
            &::after {
                width: 100%;
            }
        }
    }

    &__row {
        @include flex_row;
        width: 100%;
        justify-content: space-between;
    }

    &__item {
        @include flex_col;
        justify-content: center;
        align-items: center;
        position: relative;
        z-index: 2;

        &:first-child {
            & > div {
                &::before {
                    content: "";
                    position: absolute;
                    top: 0.9rem;
                    height: 0.4rem;
                    background-color: var(--pl-primary-popup-background);
                    left: -0.1rem;
                    width: 2rem;
                    transform: translate(-100%, 0);
                }
            }
        }

        &:last-child {
            & > div {
                &::before {
                    content: "";
                    position: absolute;
                    top: 0.9rem;
                    height: 0.4rem;
                    background-color: var(--pl-primary-popup-background);
                    right: -0.1rem;
                    width: 2rem;
                    transform: translate(100%, 0);
                }
            }
        }

        & > div {
            width: 2.2rem;
            height: 2.2rem;
            flex: 0 0 2.2rem;
            border: 0.1rem solid $red_c;
            border-radius: 50%;
            background-color: var(--pl-primary-background-color);
            margin-bottom: 1.1rem;
            position: relative;

            &::after {
                content: "";
                position: absolute;
                top: 50%;
                left: 50%;
                width: 1.3rem;
                height: 1.3rem;
                background-color: $red_c;
                border-radius: 50%;
                transform: translate(-50%, -50%);
            }
        }

        & > span {
            display: block;
            text-align: center;
            font-size: 1.2rem;
            line-height: 1.4rem;
        }
    }
}

.firststep-create-promo {
    @include flex_row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;

    .img-uploader-create-promo, .input-container,
    .firststep-create-promo__city {
        flex: 0 0 100%;
        width: 100%;
    }

    .firststep-create-promo__city {
        // flex: 0 0 calc((100% - 2rem) / 2);
    }

    .input-container__inner {
        textarea {
            height: 7rem;
            min-height: 7rem;
        }
    }
    &__city {
        @include flex_row;
        margin-bottom: 0.7rem;
        align-items: center;

        &._with_icon_cat {
            & > div > div.selector-icon {
                &::before {
                    content: "";
                    display: inline-block;
                    position: relative;
                    top: 0.2rem;
                    margin-right: 0.7rem;
                    width: 1.5rem;
                    height: 1.5rem;
                    background-image: url('../../assets/img/icons/filter.svg');
                    background-repeat: no-repeat;
                    background-size: contain;
                }
            }
        }

        &._with_icon_city {
            & > div > div.selector-icon {
                &::before {
                    content: "";
                    display: inline-block;
                    position: relative;
                    top: 0.2rem;
                    margin-right: 0.7rem;
                    width: 1.5rem;
                    height: 1.5rem;
                    background-image: url('../../assets/img/icons/location.svg');
                    background-repeat: no-repeat;
                    background-size: contain;
                }
            }
        }
    }

    &__filter {
        width: 100%;
        line-height: 3.5rem;
        color: var(--pl-grey-text-color);
        border: 0.1rem solid var(--pl-primary-light-border-color);
        overflow: hidden;
        padding-left: 1.6rem !important;
        padding-right: 1.6rem;
        background-color: var(--pl-primary-background-color);
        border-radius: 5rem;
        font-size: 1.6rem;
        padding-right: 2rem;
        background-image: url('../../assets/img/icons/expand_right.svg');
        background-repeat: no-repeat;
        background-size: 0.6rem 1.2rem;
        background-position: calc(100% - 1rem) center;
        @include flex_row;
        align-items: center;

        svg {
            margin-right: 1rem;
            width: 16px;

            path {
                stroke: var(--pl-primary-black-color);
            }
        }

        &._delivery_only {
            span {
                display: block;
                width: calc(100% - 2rem);
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }
        }
        
        &._tags {
            & > div {
                width: calc(100% - 2rem);
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                display: block;
            }
        }

        &._picked {
            background:  none;
            padding-right: 1.4rem;
            color: var(--pl-primary-black-color);
            @include flex_row;
            align-items: center;

            & > div:not(.promo-create-filter-more) {
                // @include flex_row;
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;
                width: calc(100% - 8rem);
                flex: 0 0 calc(100% - 8rem);

                span {
                    display: inline-block;
                    width: fit-content;
                    padding-left: 1.5rem;
                    position: relative;
                    overflow: unset;
                    text-overflow: unset;

                    &:not(:first-child)::before {
                        content: "";
                        position: absolute;
                        top: 50%;
                        left: 0.5rem;
                        width: 0.3rem;
                        height: 0.3rem;
                        border-radius: 50%;
                        background-color: var(--pl-primary-black-color);
                    }
                }
            }
    
            svg {
                path {
                    stroke: var(--pl-primary-red-color);
                }
            }

            .promo-create-filter-more {
                margin-left: auto;
                font-size: 1.4rem;
                color: var(--pl-primary-blue-color);
                font-weight: 400;
                line-height: 3.7rem;  
                white-space: nowrap;
            }
        }
    
    }

    &__remote {
        white-space: nowrap;
    }
}

.img-uploader-create-promo {
    margin-bottom: 1.3rem;
    @include flex_col;

    & + .input-container {
        .input-container__inner textarea {
            min-height: 6.2rem;
            height: 6.2rem;
            font-weight: 500;
        }
    }

    .no-img-ico {
        margin: 0 auto 0.8rem;
        width: 7.8rem;
        height: 7.8rem;
        border-radius: 1rem;
        padding: 2.2rem;
        background-color: var(--pl-primary-popup-background);
    }

    &__row {
        @include flex_row;
        flex-wrap: wrap;
        
        .pl-media-loader {
            margin: 0 auto;
            text-align: center;
        }

        &_active {
            .pl-media-loader {
                flex: 0 0 5.9rem;
                margin-right: 1.5rem;
                width: 5.9rem;
                height: 5.9rem;
                margin-bottom: 1.1rem;
                background-color: var(--pl-primary-popup-background);
                margin: 0 1.1rem 1.1rem 0;
                border-radius: 0.5rem;
                position: relative;

                &::before {
                    content: "";
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    width: 1.5rem;
                    height: 1.5rem;
                    background-image: url('../../assets/img/icons/plus.svg');
                    background-size: contain;
                    background-position: center;
                    transform: translate(-50%, -50%);
                }

                span {
                    display: none !important;
                }
            }
        }
    }

    &__preview {
        flex: 0 0 5.9rem;
        margin-right: 1.5rem;
        width: 5.9rem;
        height: 5.9rem;
        margin-bottom: 1.1rem;
        @include flex_row;
        position: relative;

        button {
            position: absolute;
            top: 0;
            right: 0;
            width: 2.2rem;
            height: 2.2rem;
            background-color: var(--pl-primary-background-color);
            transform: translate(50%, -50%);
            border-radius: 50%;
            @include flex_row;
            justify-content: center;
            align-items: center;

            img {
                background-color: transparent;
                width: 60%;
                height: 60%;
                transform-origin: center;
                transform: rotate(45deg);
            }
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 0.5rem;
            background-color: var(--pl-primary-background-color);
        }
    }
}

.settings-create-promo {
    padding-bottom: 0;
    width: 100%;

    .gifts-amount {
        margin-bottom: 1.2rem;
    }

    .pl-info-group {
        background-color: var(--pl-primary-background-color);
        position: relative;
        margin-top: 0;
        margin-bottom: 0;
        padding-bottom: 2rem;
        padding-top: 1.5rem;

        &:first-child {
            padding-top: 0;
        }

        .pl-info-group__title {
            background-color: var(--pl-skeleton-color);

            &::before,
            &::after {
                background-color: var(--pl-skeleton-color);
            }
        }

        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 2rem;
            height: 100%;
            background-color: var(--pl-primary-background-color);
            transform: translate(-100%, 0);
        }
        &::after {
            content: "";
            position: absolute;
            top: 0;
            right: 0;
            width: 2rem;
            height: 100%;
            background-color: var(--pl-primary-background-color);
            transform: translate(100%, 0);
        }
    }

    &__date {
        @include flex_row;
        align-items: center;
        justify-content: space-between;

        &_nolimits {
            & > .pl-datepicker {
                opacity: 0.3;
                pointer-events: none;
            }
        }
    }

    &__nolimit {
        margin-left: 1rem;
        white-space: nowrap;
    }
}



.pl-datepicker {
    width: 100%;
    line-height: 3.5rem;
    color: var(--pl-primary-text-color);
    overflow: hidden;
    padding-left: 1.6rem;
    padding-right: 2.2rem;
    // background-color: var(--pl-primary-popup-background);
    border: 0.1rem solid var(--pl-primary-light-border-color);
    border-radius: 5rem;
    font-size: 1.6rem;
    padding-right: 2rem;
    background-image: url('../../assets/img/icons/expand_right.svg');
    background-repeat: no-repeat;
    background-size: 0.6rem 1.2rem;
    background-position: calc(100% - 1rem) center;
    color: var(--pl-grey-text-color);
    @include flex_row;
    align-items: center;

    &_picked {
        background:  none;
        padding-right: 1.4rem;
        color: var(--pl-primary-black-color);

        svg {
            path {
                fill: var(--pl-primary-red-color);
            }
        }
    }

    &__date {
        margin-left: auto;
        font-size: 1.4rem;
        color: var(--pl-primary-blue-color);
        font-weight: 500;
        line-height: 3.7rem;
    }

    svg {
        margin-right: 1rem;
    }
}

.adress-box {
    padding: 0 2rem;

    .adress-item {
        border-bottom: 0.1rem solid var(--pl-primary-light-border-color);
        position: relative;

        &::before {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            width: 5rem;
            height: 0.1rem;
            background-color: var(--pl-primary-light-border-color);
            transform: translate(-100%, 0);
        }
        &::after {
            content: "";
            position: absolute;
            bottom: 0;
            right: 0;
            width: 5rem;
            height: 0.1rem;
            background-color: var(--pl-primary-light-border-color);
            transform: translate(100%, 0);
        }
    }

    .pl-input-checkbox {
        padding: 0;
    }
}

.adress-item {
    width: 100%;
    padding: 1.4rem 0;

    &__adress {
        margin-bottom: 1rem;
        font-size: 1.6rem;
        line-height: 1.25;
        min-height: 2rem;
        padding-left: 2rem;
        background-image: url('../../assets/img/icons/location_red.svg');
        background-repeat: no-repeat;
        background-size: 1.2rem 1.6rem;
        background-position: left top;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        // height: 3.5rem unset;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    &__map {
        width: 100%;
        position: relative;

        iframe {
            width: 100%;
            border-radius: 0.5rem;
            height: 14.3rem;
            pointer-events: none !important;
        }
    }

    &_with_controls {

        .adress-item {
            &__map {
                padding-left: 2rem;
                .adress-item__controls {
                    position: absolute;
                    top: 50%;
                    left: 0rem;
                    width: 2rem;
                    height: 100%;
                    transform: translate(0, -50%);
                }
            }
        }
        
    }
    
}
.pl-info-group__content {
    .adress-item {
        &:first-child {
            // padding-top: 0;
        }
    }
}

.adress-group {
    margin-bottom: 2rem;
    &_opened {
        margin-bottom: 0 ;
        .adress-group__content {
            display: block;

            .pl-input-checkbox__checkbox {
                transform: translate(0, 1rem);
            }
        }

        .adress-group__name {
            &::after {
                transform: rotate(90deg) scale(-1, 1) !important;
            }
        }
    }

    &__noresult {
        padding: 2rem;
        text-align: center;
        font-size: 1.4rem;
        color: rgba($color: $black_c, $alpha: 0.7);
    }
    &__title {
        @include flex_row;
        align-items: center;
        background-color: var(--pl-primary-popup-background);
        padding: 0.8rem;
        line-height: 2rem;
        font-size: 1.6rem;
        font-weight: 500;
        position: relative;
        // padding-left: 3rem;

        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 6rem;
            height: 100%;
            background-color: var(--pl-primary-popup-background);
            transform: translate(-100%, 0);
        }
        &::after {
            content: "";
            position: absolute;
            top: 0;
            right: 0;
            width: 6rem;
            height: 100%;
            background-color: var(--pl-primary-popup-background);
            transform: translate(100%, 0);
        }
    }

    &__name {
        @include flex_row;
        flex: 1;
        justify-content: space-between;
        align-items: center;

        & > img {
            width: 2rem;
            height: 2rem;
            border-radius: 50%;
            display: block;
            margin-right: 1rem;
        }

        &::after {
            content: "";
            width: 2rem;
            height: 2rem;
            margin-left: auto;
            display: block;
            background-image: url('../../assets/img/icons/expand_right.svg');
            background-repeat: no-repeat;
            background-size: 0.6rem 1.2rem;
            background-position: center;
            transform-origin: center;
            transform: rotate(90deg);
            transition: $transition;
        }
    }

    &__content {
        display: none;

        .adress-checkbox {
            border-bottom: 0;
            &:last-child {
                .adress-item {
                    border: none;

                    &::before, &::after {
                        display: none;
                    }
                }
            }
        }

        .adress-creator {
            padding: 11rem 0 1.5rem;

            &__cityfilter {
                &._disabled {
                    pointer-events: none;
                    background: none;
                    opacity: 0.6;
                }
            }
        }
    }
}

.adress-group._delivery {
    &.adress-group_opened .adress-group__content .pl-input-checkbox__checkbox {
        transform: translate(0);
    }
}

.pl-return-toppanel {
    &._adresspage,
    &._delivery {
        & ~ .adress-search {
            background-color: var(--pl-primary-background-color);
            padding: 1rem 1.7rem;
            position: sticky;
            top: 5rem;
            z-index: 11;
            .filters-pl-select__search {
                height: 4rem;
            }
        }
        & ~ .delivery-description {
            margin: 0 1rem 1rem;
        }
        & ~ .adress-box {
            .adress-group__content {
                .adress-item {
                    &:last-child {
                        .actions-clicker._opened .actions-clicker__list {
                            transform: translate3d(100%, -40%, 0) scale(1);
                        }
                    }
                }
            }
        }
    }
}

.pl-return-toppanel {
    &._adresspage {
        // position: fixed;
        top: 0;
        width: 100%;
        z-index: 12;
        &::after {
            display: none;
        }
    }
}

.pl-page-create-partner {
    .pl-select__filters {
        .pl-select__filters {
            .pl-button {
                position: static;
                transform: translate(0);
            }

        }
    }
} 
.topmenu-btn {
    position: absolute;
    top: 50%;
    right: 1.5rem;
    transform: translate(0, -50%);
    line-height: 2.8rem;
    border-radius: 5.4rem;
    background-color: var(--pl-primary-top-button-color);
    padding: 0 1rem;
    color: var(--pl-primary-black-color);
    cursor: pointer;
    font-size: 1.2rem;
}

.editable-addresses {
    .pl-info-group__title {
        @include flex_row;
        justify-content: space-between;
        padding-right: 2rem;
        background-image: url('../../assets/img/icons/expand_right.svg');
        background-repeat: no-repeat;
        background-size: 0.6rem 1.2rem;
        background-position: calc(100% - 0rem) center;
        align-items: center;
        margin-bottom: 0;

        & ~ .pl-info-group__content {
            padding-top: 0;
        }

        span {
            font-size: 1.4rem;
            @include flex_row;
            padding-left: 1.5rem;
            background-image: url('../../assets/img/icons/location.svg');
            background-repeat: no-repeat;
            background-size: 1rem;
            background-position: left center;
        }
    }
    &__popup {
        &._inactive {
            overflow: hidden;
            padding-bottom: 30rem;

            &::after {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: rgba($color: #000000, $alpha: 0.3);
                backdrop-filter: blur(1rem);
                z-index: 999;
            }
            .adress-creator-container {
                position: relative;
                z-index: 1000;
                padding-top: 2rem;
                padding-bottom: 2rem;
                background-color: var(--pl-primary-background-color);
            }

            & > div:not(.adress-creator-container) {
                pointer-events: none;
                opacity: 0.5;
            }

            .adress-group__title {
                pointer-events: none;
            }
        }
    }
}

.pl-return-panel__compensator {
    padding-top: 11rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}


.adress-creator-container {
    padding: 0 1rem 0;
    border-radius: 2rem;

    .adress-creator__cityfilter {
        &._disabled {
            pointer-events: none;
            opacity: 0.8;
            background: none;
        }
    }

    &__controls {
        @include flex_row;
        align-items: center;
        justify-content: flex-end;
        margin-top: 2rem;

        & > div {
            cursor: pointer;
            font-size: 1.2rem;
            line-height: 2.8rem;
            padding: 0 1.5rem;
            min-width: 10rem;
            text-align: center;
            border-radius: 5.4rem;
            background-color: var(--pl-primary-popup-background);
            color: var(--pl-primary-text-color);

            &:last-child {
                margin-left: 1rem;
                background-color: var(--pl-primary-red-color);
                color: var(--pl-primary-white-color);
            }
        }
    }
}

.preview-btn-promo {
    border-radius: 5.4rem;
    background-color: var(--pl-primary-popup-background);
    line-height: 3.5rem;
    padding: 0 1.4rem;
    font-size: 1.4rem;
    margin: 2.5rem auto 0;
}

.publicate-promo {
    &__title {
        width: 100%;
        margin-bottom: 1.5rem;
        font-size: 1.7rem;
        font-weight: 700;
        text-align: center;
        position: relative;

        & > div {
            & > span {
                display: block;
                width: 100%;
                padding-bottom: 39%;
                background-color: var(--pl-primary-popup-background);
                z-index: 10;
                border-radius: 1.5rem;
                position: relative;
                margin-bottom: 1.8rem;

                &._loaded {
                    opacity: 0;
                    visibility: hidden;
                }
            }
        }
        
        img {
            width: 100%;
            position: absolute;
            top: 0;
            left: 0;
            object-fit: contain;
            display: block;
        }

    }

    &__row {
        @include flex_row;
        align-items: center;
        justify-content: space-between;
        padding: 0 2.8rem;
        margin-bottom: 1.8rem;
    }

    &__item {
        flex: 0 0 calc((100% - 2.8rem) / 2);
        border-radius: 1rem;
        background-color: var(--pl-primary-popup-background);
        @include flex_col;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 0.9rem;

        span {
            font-size: 1.5rem;
            line-height: 1;
            margin-bottom: 0.5rem;
            display: block;
            font-weight: 700;
        }

        p {
            display: block;
            font-size: 1.5rem;
            line-height: 1;
            font-weight: 700;
            color: var(--pl-primary-blue-color);
        }
    }
}

.sells-publicate {
    border-radius: 1rem;
    border: 0.1rem solid var(--pl-primary-light-border-color);
    overflow: hidden;
    margin-bottom: 2rem;


    &__title {
        font-size: 1.5rem;
        font-weight: 700;
        line-height: 3.5rem;
        padding: 0 1.4rem;
        background-color: var(--pl-primary-popup-background);
    }

    &__item {
        font-size: 1.5rem;
        font-weight: 400;
        line-height: 3.5rem;
        @include flex_row;
        align-items: center;

        svg {
            margin-right: 0.8rem;
        }

        & > div {
            &:first-child {
                @include flex_row;
                align-items: center;
                padding-left: 2.1rem;
            }

            &:last-child {
                margin-left: auto;
                flex: 0 0 9.3rem;
                width: 9.3rem;
                font-size: 1.1rem;
                text-align: center;
                line-height: 3.5rem;
                strong {
                    font-size: 2rem;
                    line-height: 3.5rem;
                }
            }
        }

        &._last {
            & > div {
                &:first-child {
                    font-size: 1.4rem;
                    font-weight: 700;
                }
                &:last-child {
                    height: 4.9rem;
                    background-color: var(--pl-primary-green-color);
                    @include flex_col;
                    align-items: center;
                    justify-content: center;
                    line-height: 1;

                    strong {
                        display: block;
                        font-size: 2.4rem;
                        line-height: 1;
                    }
                }
            }
        }
        
        &:nth-child(odd) {
            background-color: var(--pl-primary-popup-background);
        }
    }
}

.rules-publicate {
    border-radius: 1rem;
    background-color: var(--pl-primary-popup-background);
    padding: 0.8rem 1.4rem;
    margin-bottom: 4rem;

    .pl-input-checkbox {
        padding-left: 0;
        padding-right: 0;
        font-size: 1.4rem;
        border-bottom: 0;

        b {
            color: var(--pl-primary-blue-color);
            font-weight: 700;
        }
    }

    strong {
        font-size: 1.5rem;
        font-weight: 500;
        display: block;
        margin-bottom: 1.1rem;
    }

    ul {
        li {
            padding-left: 2.6rem;
            position: relative;
            min-height: 1.8rem;
            margin-bottom: 1rem;
            line-height: 1.2;
            font-size: 1.2rem;

            &::before {
                content: "";
                position: absolute;
                top: 50%;
                left: 0;
                width: 1.8rem;
                height: 1.8rem;
                border-radius: 50%;
                background-color: var(--pl-primary-green-color);
                font-size: 1.2rem;
                font-weight: 500;
                line-height: 1.8rem;
                text-align: center;
                transform: translate(0, -50%);
            }

            &:nth-child(1) {
                &::before {
                    content: "1";
                    transform: translate(0, calc(-50% - 0.2rem));
                }
            }
            &:nth-child(2) {
                &::before {
                    content: "2";
                }
            }
            &:nth-child(3) {
                &::before {
                    content: "3";
                }
            }
        }
    }
}

.cats-create {
    .pl-filter-tag {
        border-radius: 0.8rem;
        font-weight: 500;
    }
}