.pl-app_darktheme {
    .pl-promo-filters__btn {
        background-image: url();
        background-image: url('../../assets/img/icons/filter_white.svg');
        background-size: 1.8rem 1.4rem;
        background-repeat: no-repeat;
        background-position: 0.75rem center;
        
        &_applied {
            background-image: url('../../assets/img/icons/promo-filter-ico_white.svg');
            background-size: 1.8rem 1.4rem;
            background-repeat: no-repeat;
            background-position: 0.75rem center;
        }
    }

    .pl-app-header__returnbtn {
        background-image: url('../../assets/img/icons/expand_right_white.svg');
        background-repeat: no-repeat;
        background-size: 0.8rem 1.6rem;
        background-position: right center;
    }

    .pl-app-footer__inner {
        border-color: #3A3A54;
    }

    .pl-info-group__title {
        background-color: var(--pl-primary-popup-background);
        color: var(--pl-primary-text-color);
        &::before,
        &::after {
            background-color: var(--pl-primary-popup-background);
        }
    }

    a.pl-info-group__title,
    .pl-info-group__title_arrow {
        background-image: url('../../assets/img/icons/expand_right_white.svg');
        background-repeat: no-repeat;
        background-size: 0.7rem;
        background-position: right center;
    }

    .pl-promo-page-tags__item_active {
        color: $black_c;
    }

    .pl-promo-page-contacts__item {
        &_phone {
            &::before {
                background-image: url('../../assets/img/icons/phone-ico_white.svg');
                background-repeat: no-repeat;
                background-size: contain;
                background-position: left center;
            }
        }
    
        &_tg {
            &::before {
                background-image: url('../../assets/img/icons/tg-ico_white.svg');
                background-repeat: no-repeat;
                background-size: contain;
                background-position: left center;
            }
        }
    
        &_facebook {
            &::before {
                left: 0.3rem;
                background-image: url('../../assets/img/icons/facebook-ico_white.svg');
                background-repeat: no-repeat;
                background-size: contain;
                background-position: left center;
            }
        }
    
        &_insta {
            &::before {
                background-image: url('../../assets/img/icons/insta-ico_white.svg');
                background-repeat: no-repeat;
                background-size: contain;
                background-position: left center;
            }
        }
    
        &_www {
            &::before {
                background-image: url('../../assets/img/icons/www-ico_white.svg');
                background-repeat: no-repeat;
                background-size: contain;
                background-position: left center;
            }
        }
    }

    .pl-input-doublename {
        &__num {
            color: var(--pl-reverse-text-color);
        }
    }

    .pending-order-list-item {
    
        &__btn {
    
            &_delete {
                background-image: url('../../assets/img/icons/chat/delete_white.svg');
                background-repeat: no-repeat;
                background-size: 1.8rem;
                background-position: center;
            }
            &_compose {
                background-image: url('../../assets/img/icons/chat/compose_white.svg');
                background-repeat: no-repeat;
                background-size: 1.8rem;
                background-position: center;
            }
            &_upload {
                background-image: url('../../assets/img/icons/chat/upload_white.svg');
                background-repeat: no-repeat;
                background-size: 1.8rem;
                background-position: center;
            }
            &_chat {
                background-image: url('../../assets/img/icons/chat/chat_white.svg');
                background-repeat: no-repeat;
                background-size: 1.8rem;
                background-position: center;
                margin-right: 1.2rem;
            }
        }
    }

    .review-list-item {
        &__btn {
            &_chat {
                background-image: url('../../assets/img/icons/chat/chat_white.svg');
                background-repeat: no-repeat;
                background-size: 1.8rem;
                background-position: center;
                margin-right: 1.2rem;
            }
        }
    }

    .pl-app-header {
        &_branded {
            background-color: var(--pl-primary-background-color);
        }
    }

    .firststep-create-promo {
        &__filter {
            background-image: url('../../assets/img/icons/expand_right_white.svg');
            background-repeat: no-repeat;
            background-size: 0.6rem 1.2rem;
            background-position: calc(100% - 1rem) center;
        }
    }

    .img-uploader-create-promo {
        &__row {
            &_active {
                .pl-media-loader {
    
                    &::before {
                        content: "";
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        width: 1.5rem;
                        height: 1.5rem;
                        background-image: url('../../assets/img/icons/plus_white.svg');
                        background-size: contain;
                        background-position: center;
                        transform: translate(-50%, -50%);
                    }
        
                }
            }
        }
    }

    .pl-datepicker {
        background-image: url('../../assets/img/icons/expand_right_white.svg');
        background-repeat: no-repeat;
        background-size: 0.6rem 1.2rem;
        background-position: calc(100% - 1rem) center;
    }
}