.pl-page-gifts {
    padding-top: 8rem;
    &__tags {
        @include flex_row;
        align-items: center;
        position: fixed;
        top: 4rem;
        left: 0;
        z-index: 105;
        background: var(--pl-primary-background-color);
        width: 100%;
        padding: 0.9rem 1.8rem 0.5rem;
        width: 100%;
        overflow-y: auto;
        -webkit-transition: -webkit-transform 225ms cubic-bezier(0,0,.2,1);
        transition: -webkit-transform 225ms cubic-bezier(0,0,.2,1);
        transition: transform 225ms cubic-bezier(0,0,.2,1);
        transition: transform 225ms cubic-bezier(0,0,.2,1), -webkit-transform 225ms cubic-bezier(0,0,.2,1);
        -webkit-transition-property: all;
        transition-property: all;

        .pl-filter-tag {
            @include flex_row;
            align-items: center;
            height: 2.5rem;
            img {
                width: 1.5rem;
                height: 1.5rem;
                margin-left: 0.7rem;
                margin-right: 0.7rem;
            }
        }
    }

    .list-item {
        .pl-promo__previewarea {
            order: 0;
        }
        .list-item__info {
            order: 2;
            margin-top: 1.3rem;
        }
        .pending-order-list-item {
            order: 1;  
            margin-top: 0.5rem; 
        }
    }
}

.pending-order-list-item {
    
    &__content {
        @include flex_row;
        align-items: center;
        position: relative;
        border-top: 0.1rem solid var(--pl-primary-light-border-color);
        border-bottom: 0.1rem solid var(--pl-primary-light-border-color);
        padding: 1rem 0;
        
        &::before {
            content: "";
            position: absolute;
            top: 50%;
            left: 0;
            width: 3rem;
            height: calc(100% + 0.2rem);
            border-top: 0.1rem solid var(--pl-primary-light-border-color);
            border-bottom: 0.1rem solid var(--pl-primary-light-border-color);
            transform: translate(-100%, -50%);
        }
        &::after {
            content: "";
            position: absolute;
            top: 50%;
            right: 0;
            width: 3rem;
            height: calc(100% + 0.2rem);
            border-top: 0.1rem solid var(--pl-primary-light-border-color);
            border-bottom: 0.1rem solid var(--pl-primary-light-border-color);
            transform: translate(100%, -50%);
        }
    }

    &__icon {
        margin-right: 1rem;
        width: 5.2rem;
        height: 5.2rem;
        flex: 0 0 5.2rem;
        @include flex_row;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        border: 0.1rem solid var(--pl-primary-black-color);
        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }
    &__body {
        position: relative;
    }
    &__company {
        font-weight: 500;
        font-size: 1.4rem;
        line-height: 1.2;
        margin-bottom: 0.2rem; 
        display: -webkit-box;
        -webkit-box-orient: vertical;
        text-overflow: ellipsis;
        overflow: hidden;
        -webkit-line-clamp: 1;
        padding-right: 4rem;
    }
    &__text {
        display: -webkit-box;
        -webkit-box-orient: vertical;
        text-overflow: ellipsis;
        overflow: hidden;
        -webkit-line-clamp: 2;
        padding-right: 2.5rem;
        font-size: 1.2rem;
        color: var(--pl-grey-text-color);
    }
    &__date {
        color: var(--pl-grey-text-color);
        font-size: 1.3rem;
        position: absolute;
        top: 0;
        right: 0;
    }
    &__notifications {
        position: absolute;
        bottom: 0;
        right: 0;
        width: 2rem;
        height: 2rem;
        border-radius: 50%;
        background-color: var(--pl-primary-blue-color);
        color: var(--pl-primary-white-color);
        @include flex_row;
        align-items: center;
        justify-content: center;
        font-size: 1.4rem;
        font-weight: 500;
    }
}

.pl-page-wishlist {
    &__tags {
        @include flex_row;
        align-items: center;
        overflow-y: auto;

        .pl-filter-tag,
        .pl-promo-filters__btn  {
            height: 2.5rem;
        }
    }
    .pl-promo-filters__btn  {
        height: 2.5rem;
    }
    
    &__filters {
        @include flex_row;
        align-items: center;
        position: fixed;
        top: 4rem;
        left: 0;
        z-index: 105;
        background: var(--pl-primary-background-color);
        width: 100%;
        padding: 0.5rem 1.7rem 0.5rem 1rem;
        width: 100%;
        @include flex_row;
        align-items: center;
        -webkit-transition: -webkit-transform 225ms cubic-bezier(0,0,.2,1);
        transition: -webkit-transform 225ms cubic-bezier(0,0,.2,1);
        transition: transform 225ms cubic-bezier(0,0,.2,1);
        transition: transform 225ms cubic-bezier(0,0,.2,1), -webkit-transform 225ms cubic-bezier(0,0,.2,1);
        -webkit-transition-property: all;
        transition-property: all;
    }
}

.review-slider {
    &_big {
        width: calc(100% + 1.8rem);
    }
}


.review-message {
    flex: 0 0 100%;

    &_short {
        margin-right: 0.6rem;
    }

    &_reply {
        .review-message {
            &__content {
                background-color: var(--pl-chat-message-user-color);
            }

            &__time {
                & > div {
                    display: none;
                }
            }
        }
    }

    &__content {
        padding: 1rem;
        border-radius: 1.2rem;
        background-color: var(--pl-primary-popup-background);
        position: relative
    }
    &__user {
        @include flex_row;
        align-items: center;
        margin-bottom: 0.4rem;
        padding-right: 9rem;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;

        & > img {
            @include flex_row;
            width: 2.5rem;
            height: 2.5rem;
            flex: 0 0 2.5rem;
            border-radius: 50%;
            background-color: var(--pl-primary-background-color);
            margin-right: 0.8rem;
        }
    }
    &__name {
        font-size: 1.6rem;
        font-weight: 500;
        width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
        line-height: 1.2;
    }
    &__rate {
        position: absolute;
        top: 1rem;
        right: 1rem;

        .pl-star-rate {
            pointer-events: none;
            margin-right: 0;
            &__star {
                margin-right: 0.1rem;

                &:last-child {
                    margin-right: 0;
                }
                svg {
                    width: 1.3rem;
                    height: 1.3rem;
                }
            }
        }
    }
    &__text {
        font-size: 1.4rem;
        color: var(--pl-grey-text-color);
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 3;
        overflow: hidden;
        text-overflow: ellipsis;
        padding-right: 5.5rem;
    }
    &__time {
        color: var(--pl-grey-text-color);
        position: absolute;
        bottom: 0.4rem;
        right: 1.2rem;
        font-size: 1.2rem;
        line-height: 1.2;
        @include flex_row;
        align-items: center;

        & > div {
            margin-left: 0.5rem;

            svg {
                path {
                    fill: var(--pl-grey-text-color);
                }
            }
        }
    }
}